@charset 'UTF-8';

.icon {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  pointer-events: auto;
  -webkit-tap-highlight-color: transparent;
}
