$primary-color: #509bf7;
$clickable-gray: #aab0b5;
$bright-green: #06c988;
$bright-red: #f0493d;

$pc-menu-area-width: 100px;
$sp-menu-area-height: 100px;
$menu-item-base-height: 80px;
$icon-button-margin: 16px;